

 body{
  background-image:url('../../assets/img/bg-antoine.jpg');
  background-repeat: repeat;
  font-family: 'Satisfy', cursive;
  overflow: hidden;
  height: 100%;
}

span{
  display:block;
}

/*Zone de titre */
.paragraph-title{
  margin: 25px;
  display: block;
  text-align: center;
}

.paragraph-title p{
  font-size: 45px;
  display: inline
}

/* Zone Site en construction */
.zone-site-construction {
  text-align: center;
  display: block;
}

.photo-cv img{
  width: 10%;
  border-radius: 100%;
  width: 235px;
  height: 270px;
  transition: all .35s ease-in-out;
  box-shadow: 1px 1px 20px #555;
}

.photo-cv img:hover{
  transform: scale(1.15);
}

.texte-cv {
  margin-top: 30px;
}
.texte-cv p {
  font-size: 40px;
}

/** Footer **/
footer{
  width: 100%;
  position: relative;;
  text-align: center;
}
a:hover {
  text-decoration: none;
}
footer a img{
  margin-bottom: 3%;
  margin-left: 1%;
  transition: all .35s ease-in-out;
}

footer a img:hover{
  transform: scale(1.20);
}
footer p {
  font-size: 20px;
}
